<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f6f8;
            font-size: 12;
        }

        .container {
            background: white;
            padding: 4px;
        }

        table {
            width: 100%;
            border-collapse: collapse; /* important */
        }

        th, td {
            border: 1px solid black; /* table borders */
            padding: 4px;
        }

        table th, table td {
            text-align: center;       /* horizontal centering */
            vertical-align: middle;   /* vertical centering */
        }

        .header-container {
            position: relative;      /* make container the positioning context */
            height: 100px;           /* example height */
            border: 1px solid #000;  /* optional, to visualize */
        }

        .left-title {
            position: absolute;
            left: 6px;                 /* stick to the left */
            top: 30%;
            transform: translateY(-50%); /* vertically center */
            font-size: 40px;
        }

        .center-title {
            position: absolute;
            left: 50%;               /* center horizontally */
            top: 30%;
            transform: translate(-50%, -50%); /* truly center */
            font-size: 40px;
        }

        .oblique {
            font-style: oblique; /* and italic */
            color: #ff0000;      /* optional styling */
        }    


    </style>
</head>

<body>
    <div class="container">
        <div class="header-container">
            <h1 class="left-title">{{ dati[0] }}</h1>
            <h1 class="center-title">{{ title }}</h1>
        </div>

        <table>
            <tr>
                <!-- dati[1] = 1M
                     dati[2] = 2M
                     dati[5] = P
                     dati[9] = S -->
                <th style="width: 10px;"></th> 
                <th style="width: 80px;"></th> 

                <!--#region conditions  -->
                
                <!-- IL VALORE nan È L'UNICO CHE NON È UGUALE A SE STESSO!  -->
                <!-- 1M - 2M - P - S -->
                {% if dati[1] == dati[1] and
                      dati[2] == dati[2] and 
                      dati[5] == dati[5] and
                      dati[9] == dati[9]
                      %}
                    <th style="width: 30px;">1M</th>
                    <th style="width: 30px;">2M</th>
                    <th style="width: 30px;">P</th>
                    <th style="width: 30px;">S</th>
                <!-- 1M - S -->
                {% elif 
                      dati[1] == dati[1] and
                      dati[2] != dati[2] and 
                      dati[5] != dati[5] and 
                      dati[9] == dati[9]
                      %}                    
                    <th style="width: 30px;">M</th>
                    <th style="width: 30px;">S</th>
                    <th style="width: 30px;"></th>
                    <th style="width: 30px;"></th>
                <!-- 1M -->
                {% elif 
                      dati[1] == dati[1] and
                      dati[2] != dati[2] and 
                      dati[5] != dati[5] and
                      dati[9] != dati[9]    
                      %}                    
                    <th style="width: 30px;">M</th>
                    <th style="width: 30px;"></th>
                    <th style="width: 30px;"></th>
                    <th style="width: 30px;"></th>                    
                <!-- 1M - 2M - P -->
                {% elif 
                      dati[1] == dati[1] and
                      dati[2] == dati[2] and 
                      dati[5] == dati[5] and 
                      dati[9] != dati[9]
                      %}
                    <th style="width: 30px;">1M</th>
                    <th style="width: 30px;">2M</th>
                    <th style="width: 30px;">P</th>
                    <th style="width: 30px;"></th>     
                <!-- 1M - 2M - S -->
                {% elif 
                      dati[1] == dati[1] and
                      dati[2] == dati[2] and 
                      dati[5] != dati[5] and
                      dati[9] == dati[9]
                      %}
                    <th style="width: 30px;">1M</th>
                    <th style="width: 30px;">2M</th>
                    <th style="width: 30px;">P</th>
                    <th style="width: 30px;"></th>                         
                <!-- 1M - 2M -->
                {% elif
                      dati[1] == dati[1] and
                      dati[2] == dati[2] and 
                      dati[5] != dati[5] and
                      dati[9] != dati[9]                   
                    %}         
                    <th style="width: 30px;">1M</th>
                    <th style="width: 30px;">2M</th>
                    <th style="width: 30px;"></th>
                    <th style="width: 30px;"></th> 
                <!-- 1M - P - S -->
                {% elif 
                      dati[1] == dati[1] and 
                      dati[2] != dati[2] and 
                      dati[5] == dati[5] and
                      dati[9] == dati[9] 
                      %}                    
                    <th style="width: 30px;">M</th>
                    <th style="width: 30px;">P</th>
                    <th style="width: 30px;">S</th>
                    <th style="width: 30px;"></th>         
                <!-- 1M - P -->
                {% elif 
                      dati[1] == dati[1] and
                      dati[2] != dati[2] and 
                      dati[5] == dati[5] and
                      dati[9] != dati[9]   
                      %}                    
                    <th style="width: 30px;">M</th>
                    <th style="width: 30px;">S</th>
                    <th style="width: 30px;"></th>
                    <th style="width: 30px;"></th>       
                <!-- P - S -->
                {% elif 
                      dati[1] != dati[1] and
                      dati[2] != dati[2] and 
                      dati[5] == dati[5] and
                      dati[9] == dati[9]   
                      %}                    
                    <th style="width: 30px;">P</th>
                    <th style="width: 30px;">S</th>
                    <th style="width: 30px;"></th>
                    <th style="width: 30px;"></th> 
                <!-- P -->
               {% elif 
                      dati[1] != dati[1] and
                      dati[2] != dati[2] and 
                      dati[5] == dati[5] and
                      dati[9] != dati[9]
                      %}                    
                    <th style="width: 30px;">P</th>
                    <th style="width: 30px;"></th>
                    <th style="width: 30px;"></th>
                    <th style="width: 30px;"></th>     
                <!-- S -->
               {% elif 
                      dati[1] != dati[1] and
                      dati[2] != dati[2] and 
                      dati[5] != dati[5] and
                      dati[9] == dati[9]
                      %}                    
                    <th style="width: 30px;">S</th>
                    <th style="width: 30px;"></th>
                    <th style="width: 30px;"></th>
                    <th style="width: 30px;"></th>                                                                                                                 
                {% else %}
                    <th style="width: 30px;">M45</th>
                    <th style="width: 30px;"></th>
                    <th style="width: 30px;"></th>
                    <th style="width: 30px;"></th>                                
                {% endif %} 
                <!--#endregion -->               

                <th style="width: 90px;" rowspan={{ days_number + 1 }}>
                    <!-- 
                        dati[13] -> Terapia 1 
                        dati[14] -> Terapia 2
                        dati[15] -> Terapia 3 
                        dati[16] -> Terapia 4 
                    -->
                        <!-- Terapia 1 -->
                    {%
                        if 
                            dati[13] == dati[13] and
                            dati[14] != dati[14] and
                            dati[15] != dati[15] and 
                            dati[16] != dati[16]

                        %}
                          <div 
                                style="
                                    display: flex; flex-direction: column; justify-content: center; 
                                    align-items: center; height: 100%; font-size: 18px;"
                                    >
                                <p>{{dati[13]}}</p>
                            </div>                          
                        <!-- Terapia 1 - Terapia 2 -->
                        {%
                        elif
                            dati[13] == dati[13] and
                            dati[14] == dati[14] and
                            dati[15] != dati[15] and 
                            dati[16] != dati[16]

                        %}
                            <div 
                                style="
                                    display: flex; flex-direction: column; justify-content: center; 
                                    align-items: center; height: 100%; font-size: 18px;"
                                    >
                                <p>{{dati[13]}}</p>
                                <p>{{dati[14]}}</p>
                            </div>
                        <!-- Terapia 1 - Terapia2 - Terapia 3 -->
                        {%
                        elif
                            dati[13] == dati[13] and
                            dati[14] == dati[14] and
                            dati[15] == dati[15] and 
                            dati[16] != dati[16]

                        %}
                            <div 
                                style="
                                    display: flex; flex-direction: column; justify-content: center; 
                                    align-items: center; height: 100%; font-size: 18px;"
                                    >
                                <p>{{dati[13]}}</p>
                                <p>{{dati[14]}}</p>
                                <p>{{dati[15]}}</p>
                            </div>
                        <!-- Terapia 1 - Terapia2 - Terapia 3 - Terapia 4 -->
                        {% else %}
                            <div 
                                style="
                                    display: flex; flex-direction: column; justify-content: center; 
                                    align-items: center; height: 100%; font-size: 18px;"
                                    >
                                <p>{{dati[13]}}</p>
                                <p>{{dati[14]}}</p>
                                <p>{{dati[15]}}</p>
                                <p>{{dati[16]}}</p>
                            </div>                        
                        {% endif %}                                                
                </th>
            </tr>
            {% for day in days: %}
                <tr>
                    <td>{{ day.number }}</td>
                    <td>{{ day.name }}</td>
                    <td>
                        {% if dati[17] == dati[17] %}
                            {% if day.number % 2 == 0 and (dati[17] | int) % 2 == 0 %}    
                                /
                            {% elif day.number % 2 != 0 and (dati[17] | int) % 2 != 0 %}
                                /
                            {% endif %}
                        {% else %}
                        
                        {% endif %}
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>